= form_tag("/validate", :method => "post", class: "container text-center") do
  / map
  .rightCol
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js", type: "text/javascript"}
    %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
    = javascript_include_tag "map.js"
    #map
  / search
  .leftCol{style:"text-align:left;"}
    %h2 Tweets About ...
    %div
      = label_tag(:q, "keywords:")
      %br
      = text_field_tag(:keywords)
    %div
      = label_tag(:q, "exclude:")
      %br
      = text_field_tag(:exclude)
    %div
      = label_tag(:q, "language:")
      %select.form-control{name: "language"}
        %option{value: "en"} English
        %option{value: "es"} Spanish
    %div
      = label_tag(:q, "latitude:")
      %br
      = text_field_tag(:latitude)
      %br
      = label_tag(:q, "longitude:")
      %br
      = text_field_tag(:longitude)
      %br
      = label_tag(:q, "radius:")
      %br
      = text_field_tag(:radius)
    %div
      %input{checked: "checked", name: "distance", type: "radio", value: "mi"}>/
      mile
      = succeed "km" do
        %input{name: "distance", type: "radio", value: "km"}/
    %br
    %div
      = submit_tag("Search", class: 'btn btn-primary')
    %div
      = @error
    %div
  :javascript
    window.onload = function() {
      if(!window.location.hash) {
          window.location = window.location + '#loaded';
          window.location.reload();
      }
    };
%br/
